<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.AdminMapper">
 <insert id="insert" parameterType="com.hnb.admin.AdminVO">
 	INSERT INTO ADMIN (ID,PASSWORD) 
 	VALUES (
	 	#{id},
	 	#{password},
 	) 
 </insert>
 
 <update id="update" parameterType="com.hnb.admin.AdminVO">
	UPDATE ADMIN SET 
		PASSWORD = #{password}
	WHERE ID = #{id}	
 </update>
 
 
 </mapper>